<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Log in</title>
</head>

<body>
    <main class="join-main">
        <form id="form3">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username..." required />
            </div>
            <div class="form-control">
                <label for="password">password</label>
                <input type="password" name="password" id="password" placeholder="Password..." required />
            </div>
            <button type="submit" class="btn">Register</button>
            <a href="http://localhost:3000/register.html">Register</a>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/login.js"></script>
</body>

</html>